{% extends "ordersapp/base.html" %}

{% block content %}
    <div class="text-center h2 header">Ваши заказы,
        {% if user.first_name %} {{ user.first_name }}
        {% else %} Пользователь
        {% endif %}
    </div>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Создан</th>
            <th>Обновлен</th>
            <th>Статус</th>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td>{{ item.pk }}</td>
                    <td>{{ item.created|date:"d.m.Y H:i:s" }}</td>
                    <td>{{ item.update|date:"d.m.Y H:i:s" }}</td>
                    <td>{{ item.get_status_display }}</td>
                    <td>
                        <a class="btn btn-link" href="{% url 'order:read' item.pk %}">посмотреть</a>
                    </td>
                    <td>
                        {% if item.status == 'FM' %}
                            <a class="btn btn-link" href="{% url 'order:update' item.pk %}">изменить</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.status == 'FM' %}
                            <a class="btn btn-link" href="{% url 'order:delete' item.pk %}">удалить</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a href="{% url 'order:create' %}" class="btn dtn-primary">новый заказ</a>
        <hr>
        <a href="{% url 'main' %}" class="btn btn-link">на главную</a>
    </div>

{% endblock %}